* {
  box-sizing: border-box;
  margin: 0;
}

.App-container {
  z-index: 9999;
  filter: brightness(.2);
  background-color: black;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.modal-container {
  z-index: 99999;
  background: #fff;
  background-image: url(./images/Group\ 201.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 25%;
  bottom: 0;
  left: 25%;
  right: 0;
  width: 50%;
  height: 400px;
  border: 1px solid black;
  border-radius: 20px;
}

.nav-container {
  background-color: #1e6140;
  padding: 0.8rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #fff;
  font-weight: 300;
}

.nav-list {
  list-style: none;
  gap: 3rem;
  width: 60%;
}

.phone-numbers {
  flex-direction: column;
}

.phone-numbers > a {
  color: #84be51;
}

.product-page {
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.header-container {
  width: 70%;
}

.logo-container {
  gap: 4rem;
  align-items: center;
}

.logo-img {
  width: 8rem;
  height: 4rem;
}

.input-div {
  position: relative;
}

.input {
  border-radius: 90px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  width: 250px;
}

.input-div > span {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 0.6rem;
  padding-top: 0.2rem;
  right: 20px;
  top: 5px;
  position: absolute;
}

.phone {
  gap: 0.8rem;
}

.icons {
  border-radius: 50%;
  border: 1px solid #8c3213;
  padding: 0.6rem;
}

.cart {
  align-items: center;
  gap: 0.5rem
}

.cart-btn {
  background:none;
  border: none;
  cursor: pointer;
}

.reader {
  position: relative;
}

.inc-number {
  background-color: #84be51;
  border-radius: 50%;
  position: absolute;
  color: #fff;
  font-size: 10px;
  padding: 0.2rem;
  right: 3px;
}

.options-container {
  margin-top: 1rem;
  align-items: center;
  gap: 1rem;
}

.option {
  border: 1px solid #1E6140;
  border-radius: 20px;
  gap: 1rem;
  width: 20%;
  padding-left: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  align-items: center;
}

.headertwo-container {
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headline {
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 0.8rem;
}

.wide {
  margin-top: 3rem;
  align-items: center;
  width: 70vw;
  justify-content: space-between;
}

.sidebar {
  margin-left: 10rem;
}

.product-display {
  display: grid;
  width: 100%;
  grid-template-columns: 30% 70%;
}

.products {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 0.7rem;
}

.cards {
  border-radius: 20px;
  box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.15);
  height: 355px;
  width: 25%;
}

.each-card {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.scale {
  top: 10px;
  right: 15px;
  position: absolute;
}

.each-card-img {
  margin-bottom: 1rem;
}

.each-card-details {
  background: rgba(140, 50, 19, 0.06);
  margin-top: 1rem;
  border-radius: 20px;
  width: 90%;
  height: 40%;
  padding: 1.5rem;
}

.each-card-price {
  padding-top: 2rem;
  font-size: 18px;
  color: #84be51;
}

.product-btn {
  position: absolute;
  bottom: 30px;
  right: 15px;
}

.each-icon {
  background-color: #fff;
}

.cart-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.big-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  width: 400px;
  padding: 3rem;
  position: relative;
}

.changepic {
  background: none;
  border: none;
  cursor: pointer;
}

.left {
  position: absolute;
  top: 50%;
  left: 10px;
}

.right {
  position: absolute;
  top: 50%;
  right: 10px;
}

.smalls-cont {
  gap: 1rem;
}

.small-img {
  width: 3rem;
  height: 3rem;
}

.smalls {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  margin-top: 1rem;
  border-radius: 20px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.specific-details {
  display: grid;
  grid-template-columns: 45% 55%;
}

.closebtn {
  position: absolute;
  top: -5%;
  right: -5%;
  color: rgba(255, 255, 255, 0.6);
  font-size: 30px;
}

.modal-img {
  background-color: #fff;
  justify-content: center;
  align-items: center;
  height: 140px;
  width: 30%;
  border-radius: 20px;
  position: absolute;
  top: 35%;
  left: 8%;
}
